<div style="padding: 0 20px;">
  <div>
    <div class="mb-3" style="margin-top: 20px;">
      <input type="text" class="form-control" placeholder="搜索型号" [(ngModel)]="searchTerm" (input)="onSearch()">
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">型号</th>
          <th scope="col">容量</th>
          <th scope="col">电压</th>
          <th scope="col">类型</th>
          <th scope="col">使用寿命</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of filteredCars; let i = index">
          <td>{{ i + 1 + (currentPage - 1) * itemsPerPage }}</td>
          <td>{{ car.model }}</td>
          <td>{{ car.capacity }}</td>
          <td>{{ car.voltage }}</td>
          <td>{{ car.type }}</td>
          <td>{{ car.serviceLife | currency }}</td>
        </tr>
      </tbody>
    </table>

    <nav aria-label="Page navigation" style="display: flex; flex-direction: row-reverse;">
      <ul class="pagination">
        <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
          <a class="page-link" [routerLink]="['/cars']" [queryParams]="{ page: page }">{{ page }}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>